<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINCO</title>
    <link rel="shortcut icon" th:href="@{/img/linco_ico.png}" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" th:href="@{/css/my_page.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <th:block th:replace="~{common/header :: header-head}"></th:block>
</head>
<body>
<header th:replace="~{common/header :: header-body}"></header>
<div class="container-my-page">
    <div class="sidebar">
        <div class="profile">
            <div class="profile-pic">
                <img id="profile-photo" th:src="@{'/' +  ${user.profile_picture}}" alt="프로필 사진">
            </div>
            <div class="profile-name" th:text="${user.name}">닉네임</div>
        </div>
        <div class="menu">
            <div class="menu-item" onclick="showContent('tabs')">내 모임</div>
            <div class="menu-item" onclick="showContent('payment-history')">결제내역</div>
            <div class="menu-item" onclick="showContent('edit-container')">프로필 편집</div>
        </div>
    </div>
    <div class="main-content">
        <div class="tabs">
            <div class="tab active" onclick="showTab('club-list')">클럽 목록</div>
            <div class="tab" onclick="showTab('socializing-list')">소셜라이징 목록</div>
        </div>

        <div class="club-list active">
            <div th:each="club : ${userClubs}">
            <a th:href="@{/club/detail/{id}(id=${club.club_id})}"><div class="club-item">
                <div class="club-pic">
                    <img th:src="@{'/upload/' + ${club.club.representative_picture}}" alt="클럽 사진">
                </div>
                <div class="club-title" th:text="${club.club.name}">아이언맨 클럽</div>
            </div>
            </a>
            </div>
        </div>

        <div class="socializing-list active">
            <div th:each="socializing : ${userSocializings}">
                <a th:href="@{/socializing/detail/{id}(id=${socializing.socializing_id})}">
                    <div class="socializing-item">
                <div class="socializing-pic">
                    <img th:src="@{'/' + ${socializing.socializing.img}}" alt="소셜라이징 사진">
                </div>
                        <div class="socializing-title" th:text="${socializing.socializing.getSocializing_title()}">아이언맨 보러갈래?</div>
                     </div>
                </a>
            </div>
        </div>

        <div class="payment-history">
            <div class="table-container">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th>예약번호</th>
                        <th>장소명</th>
                        <th>예약날짜</th>
                        <th>결제날짜</th>
                        <th>결제금액</th>
                        <th>결제상태</th>
                    </tr>
                    </thead>
                </table>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr th:each="reservation, iterStat : ${userReservations}"
                            th:data-id="${reservation.id}"
                            th:data-merchant="${reservation.merchantUid}"
                            th:data-total-price="${#strings.toString(reservation.total_price)}"
                            th:data-impId = "${reservation.impUid}">
                            <td class="reservation-number" th:text="${iterStat.count}">1</td>
                            <td class="venue-name" th:text="${reservation.venue.venue_name}">세진이집</td>
                            <td class="reservation-ellipsis" th:text="${reservation.reserve_date}">2024-06-18</td>
                            <td class="reservation-ellipsis" th:text="${#temporals.format(reservation.paydate, 'yyyy-MM-dd')}">2024-06-01</td>
                            <td th:text="${reservation.total_price} + 원">1,000원</td>
                            <td><a th:text="${reservation.status}"></a>
                            <button class="cancel-button" th:if="${reservation.status == 'PAYED'}" onclick="cancelPay(event)" text="취소">취소</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="edit-container">
            <div class="edit-profile d-flex justify-content-center align-items-center">
                <div class="profile-edit">
                    <form id="profile-form" class="profile-edit-form mt-3" th:action="@{/user/update}" th:method="post" enctype="multipart/form-data">
                    <div class="profile-pic-edit">
                        <img th:src="@{'/' + ${user.profile_picture}}" alt="프로필 사진" id="profile-photo-edit" class="rounded-circle">
                        <input type="text" id="profile_picture" name="profile_picture" th:value="${user.getProfile_picture()}" style="display: none;">
                    </div>
                    <div class="profile-edit-buttons">
                        <button class="btn btn-secondary" id="change-photo-btn">사진변경</button>
                        <input type="file" id="fileInput" name="files" accept="image/*" style="display:none;">
                        <button class="btn btn-secondary" id="delete-photo-btn">사진삭제</button>
                    </div>
                        <input name="id" th:value="${user.id}" style="display: none">
                        <div class="form-group">
                            <label for="name">이름</label>
                            <input th:value="${user.name}" type="text" class="form-control" id="name" placeholder="이름" name="name">
                        </div>
                        <div class="form-group">
                            <label for="phone">전화번호</label>
                            <input th:value="${user.tel}" type="text" class="form-control" id="phone" placeholder="전화번호" name="tel">
                        </div>
                        <div class="form-group">
                            <label>주소</label>
                            <div class="input-group">
                                <input th:value="${user.address}" type="text" class="form-control" id="sample4_roadAddress" name="address" placeholder="주소">
                                <button type="button" class="btn btn-secondary btn-sm" onclick="sample4_execDaumPostcode()">검색</button>
                            </div>
                        </div>
                        <div id="guide" style="display:none"></div>
                    <div class="profile-edit-buttons">
                        <button onclick="showContent('tabs')" class="btn before-button">이전</button>
                        <button type="submit" class="btn save-button" id="profile-submit">저장</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{common/footer :: footer-body}"></footer>


<script th:src="@{/js/cancel.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<th:block th:replace="~{common/footer :: footer-scripts}"></th:block>

<script th:src="@{/js/my_page.js}"></script>
</body>
</html>
