<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script th:unless="${detailsocializing}">
    alert("해당 정보가 삭제되거나 없습니다.");
    history.back();
</script>


<th:block th:if="${detailsocializing}" th:with="logged_user=${#authentication.principal.user}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <title>Socializing 상세페이지</title>
        <script src="https://kit.fontawesome.com/51772bd9bd.js"></script>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <th:block th:replace="~{common/header :: header-head}"></th:block>
        <link rel="stylesheet" href="/css/socializing_detail.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="/js/socializing_detail.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/css/map.css">
        <script th:inline="javascript">
            const logged_id = [[${logged_user.id}]]
        </script>
    </head>


    <body th:with="logged_user=${#authentication.getPrincipal().getUser}">
    <header th:replace="~{common/header :: header-body}"></header>

    <main class="container1">
        <section class="event-info">
            <img th:src="@{'/'+${detailsocializing.img}}" class="event-image">
<!--                 class="event-image" alt="Image">-->
            <div class="event-details">
                <div class="details-header">
                    <h1 th:text="${detailsocializing.getSocializing_title()}">Socializing 이름</h1>
                    <span id="address" class="social-info" th:text="${detailsocializing.getAddress()}"
                          style="display: none"></span>
                    <span class="social-info">|</span>
                    <span class="social-info"> [[${detailsocializing.getCategory()}]]</span>
                    <span class="social-info">| [[${detailsocializing.getDetail_category()}]]</span>
                    <span class="social-info">| [[${detailsocializing.getMeeting_date()}]]</span>
                    <span class="social-info">  [[${detailsocializing.getMeeting_time()}]]</span>
                    <p id="social-cnt">참여인원: [[${membercnt}]] / [[${detailsocializing.getLimit_num()}]]</p>
                    <p id="social-price">입장료: [[${detailsocializing.getTotal_price()}]]</p>
                </div>
                <div class="details-buttons">
                    <a class="edit-button btn" th:href="@{'/socializing/update/' + ${detailsocializing.id}}" th:if="${logged_user.id == Master.User.id}">수정하기</a>
                    <form th:action="@{/socializing/detail}" method="POST">
                        <input type="text" class="hidden" name="user_id" th:value="${logged_user.id}">
                        <input type="text" class="hidden" name="socializing_id" th:value="${detailsocializing.getId()}">
                        <button class="join-button" th:if="${membercnt < detailsocializing.getLimit_num()}" th:unless="${#lists.contains(Listnum,logged_user.id)}">참여하기</button>
                    </form>
                    <button id="deletebtn" class="delete-button" th:if="${logged_user.id == Master.User.id}">삭제</button>
                </div>
            </div>
        </section>
        <!--삭제기능-->
        <form name="frmDelete" th:action="@{/socializing/delete}" method="post">
            <input type="hidden" name="id" th:value="${detailsocializing.getId()}">
        </form>
<!--삭제기능-->
        <section class="description">
            <h2>상세설명</h2>
            <p id="detaildescription" th:utext="${content}"></p>
            <span class="location-button">[[${detailsocializing.getPlace_name()}]]</span>
            <div class="location-button">[[${detailsocializing.getAddress()}]]</div>
            <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            </div>

            <div class="align-right">
                <button id="backbtn">이전으로</button>
            </div>
        </section>

        <section class="participants">
            <h2>참여자 리스트</h2>
            <div th:each="member : ${members}" th:if="${#lists.contains(Listnum,logged_user.id)}">
                <span>[[${member.User.username}]]</span>
                <span th:if="${logged_user.id == Master.user.getId()}"> | [[${member.User.tel}]]</span>
                <span> | [[${member.role}]] </span>
            </div>
        </section>
    </main>

    <footer th:replace="~{common/footer :: footer-body}"></footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <th:block th:replace="~{common/footer :: footer-scripts}"></th:block>

    <script type="text/javascript"
            src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=cf0f44225c7ff5ce919c81354ed2c1b2&libraries=services"></script>
    <script src="/js/socializing_write.js" type="text/javascript"></script>
    </body>
    </th:block>
</html>
