<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Socializing 페이지</title>
    <script src="https://kit.fontawesome.com/51772bd9bd.js"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <th:block th:replace="~{common/header :: header-head}"></th:block>
    <link rel="stylesheet" href="/css/socializing_list.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/js/socializing_list.js" type="text/javascript"></script>
</head>

<body>
<header th:replace="~{common/header :: header-body}"></header>
<div class="container1">
    <div class="search-bar">
        <button class="filter">필터</button>
        <input type="text" id="search" placeholder="지역(시,군,구)검색">
        <button id="btn">검색</button>
    </div>

    <div class="category-area">
        <ul class="category-list">
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="category" value="운동">
                    <span>운동</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox" >
                    <input type="checkbox" name="category" value="공연">
                    <span>공연</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="category" value="공부">
                    <span>공부</span>
                </label>

            </li>

        </ul>
    </div>

    <div class="detail-category-area">
        <ul class="detail-category-list category1-list">
            <li class="detail-search-category">
                <label class="detail-category-checkbox">
                    <input type="checkbox" name="detail-category" value="축구">
                    <span>축구</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="detail-category" value="야구">
                    <span>야구</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="detail-category" value="농구">
                    <span>농구</span>
                </label>

            </li>

        </ul>
        <ul class="detail-category-list category2-list">
            <li class="detail-search-category">
                <label class="detail-category-checkbox">
                    <input type="checkbox" name="detail-category" value="전시">
                    <span>전시</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="detail-category" value="댄스">
                    <span>댄스</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="detail-category" value="영화">
                    <span>영화</span>
                </label>

            </li>

        </ul>
        <ul class="detail-category-list category3-list">
            <li class="detail-search-category">
                <label class="detail-category-checkbox">
                    <input type="checkbox" name="detail-category" value="컴퓨터">
                    <span>컴퓨터</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="detail-category" value="영어">
                    <span>영어</span>
                </label>

            </li>
            <li class="search-category">
                <label class="category-checkbox">
                    <input type="checkbox" name="detail-category" value="수학">
                    <span>수학</span>
                </label>

            </li>

        </ul>

    </div>


    <div class="main-content">
        <div class="socializing-item" th:each=" social : ${list}">
            <img th:src="@{'/img/'+${social.img}}" class="img-thumbnail" alt="Socializing Image">
            <p th:text="${social.socializing_title}"><br>스포츠 | 서초구</p>
            <p th:text="${social.category}" id="category" class="hidden"></p>
            <p th:text="${social.detail_category}" id="detail_category"></p>
            <p th:text="${social.address}" id="address"></p>
        </div>
    </div>
    <th:block th:insert="~{common/pagination::pagination}"></th:block>
    <a href="/socializing/write" class="create-button">놀사람구함</a>
</div>



<footer th:replace="~{common/footer :: footer-body}"></footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<th:block th:replace="~{common/footer :: footer-scripts}"></th:block>
</body>
</html>