<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script th:unless="${updatesocializing}">
    alert("해당 정보가 삭제되거나 없습니다.");
    history.back();
</script>
<!-- post 가 있는 경우에만 렌더링 하기 위해 th:block 으로 감쌈-->
<th:block th:if="${updatesocializing}" th:with="logged_user=${#authentication.principal.user}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Socializing 수정</title>
    <script src="https://kit.fontawesome.com/51772bd9bd.js"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <th:block th:replace="~{common/header :: header-head}"></th:block>
    <link rel="stylesheet" href="/css/socializing_write.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/map.css">
</head>

<body>
<header th:replace="~{common/header :: header-body}"></header>

<div class="container1">
    <form th:action="@{/socializing/update}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${updatesocializing.id}"/>
        <div class="form-group" th:with="user=${#authentication.getPrincipal().getUser()}">
            <label for="socializing_title">소셜라이징 이름</label>
            <input type="text" id="socializing_title" name="socializing_title" placeholder="제목을 입력하세요"
                   th:value="${socializing_title} ? ${socializing_title} : ${updatesocializing.socializing_title}"/>
        </div>
        <div><span class="text-danger" th:if="${error_socializing_title}" th:utext="${error_socializing_title}"></span>
        </div>

        <div class="form-group select-container">
            <label for="category">카테고리</label>
            <select id="category" name="category" disabled>
                <option th:value="${updatesocializing.category}" th:text="${updatesocializing.category}" selected readonly></option>
            </select>
            <input type="hidden" name="category" th:value="${updatesocializing.category}">

            <label for="detail_category">소분류</label>
            <select id="detail_category" name="detail_category" disabled>
                <option th:value="${updatesocializing.detail_category}" th:text="${updatesocializing.detail_category}" selected readonly></option>
            </select>
            <input type="hidden" name="detailCategory" th:value="${updatesocializing.detail_category}">
        </div>

        </div>
        <div class="form-group">
            <label for="content" class="content1">내용</label>
            <textarea id="content" name="content" rows="5"  th:utext="${content} ? ${content} : ${updatesocializing.content}"></textarea>
        </div>
        <div class="form-group">
            <label for="meeting_date">날짜</label>
            <input type="date" id="meeting_date" name="meeting_date" th:value="${updatesocializing.meeting_date}" readonly/>
            <label for="meeting_time">시간</label>
            <input type="time" id="meeting_time" name="meeting_time" th:value="${updatesocializing.meeting_time}" readonly/>
        </div>
        <div class="form-group">
            <label for="limit_num">인원</label>
            <input type="number" id="limit_num" name="limit_num" th:value="${updatesocializing.limit_num}" readonly/>
        </div>
        <div class="form-group">
            <label for="total_price">가격</label>
            <input type="text" id="total_price" name="total_price" th:value="${updatesocializing.total_price}" readonly/>
        </div>
        <div class="form-img">
            <div class="form-group image-placeholder">
                <img id="previewImage" style="display:block; max-width: 180px; height: auto;" th:src="@{'/' + ${updatesocializing.img}}">
            </div>
        </div>

        <div class="form-group">
            <label for="location">위치</label>
            <input type="text" id="location" name="location" />
            <input type="text" id="placeName" name="placeName" th:value="${updatesocializing.placeName}" readonly>
            <input type="text" id="address" name="address" th:value="${updatesocializing.address}">
        </div>

        <div class="map_wrap">
            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <hr>
                    <ul id="placesList"></ul>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group btn-group">
            <button type="button" id="prevButton" onclick="history.back()">이전으로</button>
            <a class="btn btn-outline-dark ms-1" th:href="@{/socializing/list(page=${session.page})}">목록</a>
            <button type="submit" class="btn btn-outline-dark">수정완료</button>
        </div>
    </form>
</div>

<footer th:replace="~{common/footer :: footer-body}"></footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<th:block th:replace="~{common/footer :: footer-scripts}"></th:block>

<script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=cf0f44225c7ff5ce919c81354ed2c1b2&libraries=services"></script>
<script src="/js/socializing_write.js" type="text/javascript"></script>
</body>
</th:block>
</html>