<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socializing 작성</title>
    <link rel="stylesheet" th:href="@{/css/map.css}">
    <link rel="stylesheet" th:href="@{/css/socializing_write.css}">
    <th:block th:replace="~{common/header :: header-head}"></th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/payment.js}"></script>
</head>
<!-- // TODO : venue 값 불러서 찍어보고 그걸로 위치 표시하기 사진이랑.. ... 대관장소 이름 -->
<body>
<header th:replace="~{common/header :: header-body}"></header>

<!--<div th:if="${venue != null}">-->
<!--    <h1>Venue Information</h1>-->
<!--    <p th:text="'ID: ' + ${venue.id}"></p>-->
<!--    <p th:text="'Name: ' + ${venue.venue_name}"></p>-->
<!--</div>-->

<!--<div>-->
<!--    <p th:text="'Debug: ' + ${venue}"></p>-->
<!--    <p th:text="'Debug: ' + ${total_price}"></p>-->
<!--</div>-->
<a th:text="${venue}" id="venueInfo"></a>

<div class="container1">
    <form id="socializingForm" th:action="@{/socializing/write}" method="post" enctype="multipart/form-data">
        <div class="form-group" th:with="user=${#authentication.getPrincipal().getUser()}">
            <label for="socializing_title">소셜라이징 이름</label>
            <input type="text" id="socializing_title" name="socializing_title" placeholder="제목을 입력하세요"
                   th:value="${socializing_title}"/>
            <input type="text" class="hidden" name="user_id" th:value="${user.id}">    <!--수정부분-->
        </div>
        <div><span class="text-danger" th:if="${error_socializing_title}" th:utext="${error_socializing_title}"></span>
        </div>

        <div class="form-group select-container">
            <label for="category">카테고리</label>
            <select id="category" name="category">
                <option value="">카테고리 선택</option>
                <th:block th:each="cat : ${category}">
                    <option th:value="${cat}" th:text="${cat}" th:selected="${cat} == ${category1}" th:if="${category1}"></option>
                    <option th:value="${cat}" th:text="${cat}" th:unless="${category1}"></option>
                </th:block>
            </select>

            <label for="detail_category">소분류</label>
            <select id="detail_category" name="detail_category" text="">
                <option id="a" text="" value="">소분류 선택</option>
            </select>
        </div>

        <div><span class="text-danger" th:if="${error_detail_category}" th:utext="${error_detail_category}"></span>
        </div>
        <div class="form-group">
            <label for="content" class="content1">내용</label>
            <textarea id="content" name="content" rows="5" th:utext="${content}"></textarea>
        </div>
        <div class="form-group">
            <label for="meeting_date">날짜</label>
            <input type="date" id="meeting_date" name="meeting_date" th:value="${meeting_date}"/>
            <label for="meeting_time">시간</label>
            <input type="time" id="meeting_time" name="meeting_time" th:value="${meeting_time}"/>
        </div>
        <div><span class="text-danger" th:if="${error_meeting_date} or ${error_meeting_time}"
                   th:utext="${error_meeting_date}"></span></div>
        <div class="form-group">
            <label for="limit_num">인원</label>
            <input type="number" id="limit_num" name="limit_num" th:value="${limit_num}"/>
        </div>
        <div><span class="text-danger" th:if="${error_limit_num}" th:utext="${error_limit_num}"></span></div>
        <div class="form-group">
            <label for="total_price">가격</label>
            <input type="text" id="total_price" name="total_price" th:value="${total_price != null ? total_price : ''}" />원
        </div>
        <div class="form-img">
            <div class="form-group image-placeholder">
                <span id="img_txt">이미지 미리보기</span>
                <img id="previewImage" style="display:block; max-width: 180px; height: auto;">
            </div>
            <div class="form-group fileBtn">
                <button type="button" id="fileSelect">파일선택</button>
                <input type="file" id="fileInput" name="files" accept="image/*" style="display:none;">
            </div>
        </div>
        <div class="form-group" th:if="${venue != null and venue.id != null}">
            <label for="reservation">예약장소</label>
            <input type="text" id="reservation" name="reservation" th:value="${venue.venue_name != null ? venue.venue_name : ''}">
        </div>
        <div class="form-group" th:if="${venue != null and venue.id != null}">
            <label for="reservationDate">예약날짜</label>
            <input type="text" id="reservationDate" name="reservationDate" th:value="${reserveDate != null ? reserveDate : ''}">
        </div>
        <div class="form-group" th:if="${venue != null and venue.id != null}">
            <label for="reservationTime">예약시간</label>
            <input type="text" id="reservationTime" name="reservationST" th:value="${reserveST != null ? reserveST : ''}"> ~
            <input type="text" name="reservationET" th:value="${reserveET != null ? reserveET : ''}">
        </div>
        <div class="form-group">
            <label for="location">위치</label>
            <input type="text" id="location" name="location"/>
            <button type="button" id="mapSearch">검색하기</button>
            <input type="text" id="placeName" name="place_name" style="display: none">
            <input type="text" id="address" name="address" th:value="${address}">
        </div>
        <div><span class="text-danger" th:if="${error_address}" th:utext="${error_address}"></span></div>

        <div class="map_wrap">
            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <hr>
                    <ul id="placesList"></ul>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
        <hr>

        <div class="form-group button-group">
            <a th:href="@{/socializing/list}">
                <button type="button" id="prevButton">이전으로</button>
            </a>
            <button type="submit" id="createButton">만들기</button>
        </div>
    </form>
</div>

<footer th:replace="~{common/footer :: footer-body}"></footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<th:block th:replace="~{common/footer :: footer-scripts}"></th:block>

<script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=cf0f44225c7ff5ce919c81354ed2c1b2&libraries=services"></script>
<script th:src="@{/js/socializing_write.js}" type="text/javascript"></script>
</body>
</html>