.body {
    width: 90%;
    max-width: 1200px;
    margin: 150px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    margin-bottom: 20px;
}

.title .form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #3A4D72; /* 제목 및 레이블 색상 */
}

label #cmt_cnt{
    color: #3A4D72;
}

.text {
    font-size: 18px;
    color: #333; /* 텍스트 색상 */
}

.content {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
}

.attachment {
    margin-top: 30px;
}

.attachment label {
    font-size: 20px;
}

.attachment .text {
    font-size: 16px;
    color: #333; /* 첨부파일 텍스트 색상 */
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button .left-buttons {
    display: flex;
    gap: 10px;
}

.button .btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3A4D72;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button .btn:hover {
    background-color: #D3374A; /* 버튼 호버 색상 */
}

.comment {
    margin: 50px auto;
}

.comment label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #3A4D72; /* 댓글 레이블 색상 */
}

.comment input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.comment button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3A4D72;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment button:hover {
    background-color: #D3374A; /* 댓글 등록 버튼 호버 색상 */
}

tr td.text span{
    color: #3A4D72;
}