/* 전체 페이지 스타일 */
body {
    background-color: #EDEBDA;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* 링크 박스 스타일 */
.menu-1 {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 50px auto;
    padding: 20px;
}

.title {
    flex: 1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

.menu-1 div:hover {
    background-color: #D3374A;
}

.menu-1 div {
    text-decoration: none;
    color: #fff;
    background-color: #B3B49E;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* 메인 콘텐츠 스타일 */
.post-list {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /*position: relative;*/
}

.title-center {
    text-align: center;
    margin: 0 auto 40px auto;
    font-weight: bolder;
}

.post {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    font-size: 15px;
}
.post a {
    text-decoration-line: none;
    color: black;
}

.post thead {
    font-size: 25px;
}

.post thead th, .post tbody td {
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

.post thead th:last-child, .post tbody td:last-child {
    border-right: none;
}

.post tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.post tbody tr:hover {
    background-color: #f5f5f5;
}

/* 추가: 헤더 행 스타일 */
.post thead tr {
    border-bottom: 2px solid #ddd; /* 두께를 조정하여 더 강조 */
}

/* 추가: 바디 행 스타일 */
.post tbody tr {
    border-bottom: 1px solid #ddd;
}

/* 마지막 행의 바닥 경계를 제거 */
.post tbody tr:last-child {
    border-bottom: none;
}

.club-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.club-item {
    width: 30%;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.club-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.club-img {
    width: 100%; /* 이미지 너비를 클럽 항목 너비에 맞춤 */
    height: 100%; /* 이미지 높이를 자동으로 조정 */
    border-radius: 8px; /* 이미지 모서리 둥글게 */
}

.club-info {
    margin: 10px 0 0;
}

.club-name {
    font-weight: bold; /* 클럽 이름을 굵게 */
    font-size: 1.2em; /* 클럽 이름 폰트 크기 조정 */
}

.club-category {
    color: #555; /* 카테고리 텍스트 색상 조정 */
}

/* 글쓰기 버튼 스타일 */
.write {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0 0;
}

.write .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3A4D72;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
