body {
    background-color: #f4f4f9;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.body {
    width: 90%;
    max-width: 1200px;
    margin: 150px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

.title .form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    color: #3A4D72; /* 제목 및 레이블 색상 */
}

.form-group span{
    display: block;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fafafa;
    line-height: 1.6;
    margin-top: 15px;
    border-radius: 5px;
}

.text {
    font-size: 20px;
    color: #333; /* 텍스트 색상 */
    font-weight: bold;
    padding: 10px;
}

.title-text {
    font-size: 20px;
    font-weight: bold;
}

.content {
    height: 200px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
    overflow-y: auto; /* 스크롤 활성화 */
    background-color: #fafafa;
}

.attachment {
    margin-top: 30px;
}

.attachment label {
    font-size: 18px;
    font-weight: bold;
    color: #3A4D72;
}

.attachment .text {
    font-size: 16px;
    color: #333; /* 첨부파일 텍스트 색상 */
    margin-bottom: 10px;
}

img.img-thumbnail {
    width: 300px;
    height: 300px;
    display: block;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button .left-buttons {
    display: flex;
    gap: 10px;
}

.button .btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3A4D72;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button .btn:hover {
    background-color: #D3374A; /* 버튼 호버 색상 */
    color: #fff;
}

.comment {
    margin: 30px auto;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.comment label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #3A4D72; /* 댓글 레이블 색상 */
    margin-bottom: 10px;
}

.comment span#cmt_cnt{
    color: #3A4D72;
}

.comment .comment-input {
    width: calc(100% - 100px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.comment .comment-input:focus {
    border-color: #3A4D72;
    box-shadow: 0 0 5px rgba(58, 77, 114, 0.5);
}

.comment button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3A4D72;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.comment button:hover {
    background-color: #D3374A; /* 댓글 등록 버튼 호버 색상 */
    color: #fff;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #3A4D72;
    color: #fff;
    font-weight: bold;
}

.table td.text {
    color: #333;
}

tr td.text span {
    color: #3A4D72;
}
