body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.body {
    width: 90%;
    max-width: 1200px;
    margin: 180px auto 200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title .form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #3A4D72; /* 제목 및 레이블 색상 */
}

.text {
    font-size: 20px;
    color: #333; /* 텍스트 색상 */
    font-weight: bolder;
}

span.readonly{
    background-color: #f1f3f5;
}

.content {
    height: 200px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
}

.attachment {
    margin-top: 30px;
}

.attachment label {
    font-size: 20px;
}

.attachment .input-group{
    margin-bottom: 10px;
}

.attachment .text {
    font-size: 16px;
    color: #333; /* 첨부파일 텍스트 색상 */
}

.button {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.left-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.left-buttons a {
    bottom: 10px;
}

button.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #EDEBDA;
    background-color: #D3374A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

button.btn:hover {
    color: #EDEBDA;
    background-color: #D3374A;
    transform: scale(1.1);
}

.newAttachment {
    margin-top: 20px;
}

.newAttachment label {
    flex: 1;
    margin-right: 10px;
}

.newAttachment #files {
    flex: 2;
    margin-right: 10px;
}

.newAttachment #btnAdd {
    flex-shrink: 0;
}


.custom-button {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    color: #fff;
    width: 130px;
    height: 40px;
}

.button-2 {
    position: relative;
    right: 15px; /* 초기 값으로 변경 */
    bottom: 20px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

.button-2 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.button-2 span:nth-child(1){
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2 span:nth-child(2){
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2:hover span:nth-child(1){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button-2:hover span:nth-child(2){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
