body {
    background-color: #EDEBDA;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.form-container {
    margin: 150px auto 200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /*position: relative;*/
}

.form-label {
    white-space: nowrap;
}

#img_txt {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333;
}

#previewImage {
    width: 660px;
    height: 200px;
    display: contents;
    align-items: center;
}

.bordered-image {
    outline: 1px solid #333;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

/*.btn-file {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/
/*.btn-file input[type=file] {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    min-width: 100%;*/
/*    min-height: 100%;*/
/*    font-size: 100px;*/
/*    text-align: right;*/
/*    filter: alpha(opacity=0);*/
/*    opacity: 0;*/
/*    outline: none;*/
/*    background: white;*/
/*    cursor: inherit;*/
/*    display: block;*/
/*}*/

.custom-button {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    color: #fff;
    width: 130px;
    height: 40px;
}

.button-2 {
    position: relative;
    right: 10px; /* 초기 값으로 변경 */
    bottom: 20px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

.button-3 {
    position: relative;
    right: 20px; /* 초기 값으로 변경 */
    bottom: 20px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

.button-2 span, .button-3 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.button-2 span:nth-child(1),
.button-3 span:nth-child(1){
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2 span:nth-child(2),
.button-3 span:nth-child(2){
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2:hover span:nth-child(1),
.button-3:hover span:nth-child(1){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button-2:hover span:nth-child(2),
.button-3:hover span:nth-child(2){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}