body {
    font-family: Arial, sans-serif;
    background-color: #EDEBDA;
    color: #3A4D72;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.social-info{
    color: black;
    font-size: 25px;
}
#social-cnt{
    color: black;
    font-size: 20px;
}
#social-price{
    color: black;
    font-size: 20px;
}
nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.container-1 {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 150px auto 250px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.event-info {
    display: flex;
    background-color: #b3b49e;
    padding: 20px;
    border: 1px solid #B3B49E;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.club-description {
    width: 68%;
    padding: 20px;
    border: 1px solid #B3B49E;
    border-radius: 10px;
}

.club-members {
    width: 30%;
    padding: 20px;
    border: 1px solid #B3B49E;
    border-radius: 10px;
}

.footer-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}


.event-image {
    width: 250px;
    height: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.event-details {
    margin-left: 20px;
}

.event-details h1 {
    margin: 0;
}

.event-details p {
    margin: 5px 0;
}

.event-details button {
    background-color: #3A4D72;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.event-details .delete-button {
    background-color: #D3374A;
}

.description {
    background-color: #b3b49e;
    padding: 20px;
    border: 1px solid #B3B49E;
    margin-bottom: 20px;
    border-radius: 10px;
}

.description h2 {
    margin-top: 0;
}

.location-button {
    background-color: #D3374A;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
}

.participants {
    background-color: #B3B49E;
    padding: 20px;
    border: 1px solid #B3B49E;
    margin-bottom: 20px;
    border-radius: 10px;
}

.participants h2 {
    margin-top: 0;
}

.participants ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.participants ul li {
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-size: 20px;
}

footer {
    background-color: #3A4D72;
    color: white;
    text-align: center;
    padding: 20px;
}

h2{
    font-weight: bolder;
}

#detaildescription{
    font-size: 20px;
    color: black;
}

.event-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: 20px;
    position: relative;
}

.details-header {
    padding: 20px;
}

.details-header h1 {
    font-size: 2.5em; /* 제목 크기 조정 */
    margin-bottom: 20px; /* 아래 여백 추가 */
    color: #3A4D72; /* 제목 텍스트 색상 */
    gap: 10px; /* 제목과 버튼 사이의 간격 */
    font-weight: bold;
}

.category-button {
    text-align: start;
    background-color: #73B9C9; /* 버튼 배경색 */
    color: #EDEBDA; /* 버튼 텍스트 색상 */
    padding: 5px 10px; /* 버튼 패딩 */
    margin-left: 15px; /* 왼쪽 여백 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    font-size: 20px;
    vertical-align: middle;
}

#club-intro{
    font-size: 1.5em; /* 본문 텍스트 크기 */
    font-weight: 500;
    margin-top: 50px; /* 위 여백 추가 */
    color: #333; /* 텍스트 색상 */
}

.details-header {
    flex: 1;
}

.details-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.hidden{
    display: none;
}
.club-menu-area {
    margin-bottom: 20px;
}

.club-menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.club-menu-list li {
    display: inline;
}

.search-club-category {
    display: flex;
    align-items: center;
}

.search-club-category input[type="button"] {
    display: none;
}
.custom-button {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    color: #fff;
    width: 130px;
    height: 40px;
}

.button-1 {
    position: relative;
    right: 20px; /* 초기 값으로 변경 */
    bottom: 10px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

.button-2 {
    position: relative;
    right: 20px; /* 초기 값으로 변경 */
    bottom: 20px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

.button-3 {
    position: relative;
    right: 20px; /* 초기 값으로 변경 */
    bottom: 10px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

/* 운동 버튼 */
.button-1 span {
    background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.button-1 span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-1 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-1:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button-1:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

/* 문화예술 */
.button-2 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.button-2 span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button-2:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

/* 여행 */
.button-3 span {
    background: rgb(150, 0, 200);
    background: linear-gradient(0deg, rgba(234, 76, 231, 0.88) 0%, rgba(205, 76, 234, 0.88) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.button-3 span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-3 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-3:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button-3:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.post {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    font-size: 15px;
}
.post a {
    text-decoration-line: none;
    color: black;
}

.post thead {
    font-size: 25px;
}

.post thead th, .post tbody td {
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

.post thead th:last-child, .post tbody td:last-child {
    border-right: none;
}

.post tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.post tbody tr:hover {
    background-color: #f5f5f5;
}

/* 추가: 헤더 행 스타일 */
.post thead tr {
    border-bottom: 2px solid #ddd; /* 두께를 조정하여 더 강조 */
}

/* 추가: 바디 행 스타일 */
.post tbody tr {
    border-bottom: 1px solid #ddd;
}

/* 마지막 행의 바닥 경계를 제거 */
.post tbody tr:last-child {
    border-bottom: none;
}

#searchbox{
    text-align: end;
}

#btn, .btn-success {
    background-color: #3A4D72;
    color: #EDEBDA;
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

#btn:hover, .btn-success:hover {
    background-color: #D3374A;
    color: #EDEBDA;
    transform: scale(1.1);
}

#search {
    flex: 1;
    padding: 10px;
    border: 2px solid #B3B49E;
    border-radius: 5px;
    outline: none;
}