body {
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.body {
    width: 90%;
    max-width: 1200px;
    margin: 150px auto 200px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

.title .form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    color: #3A4D72; /* 제목 및 레이블 색상 */
}

.form-group span{
    display: block;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fafafa;
    line-height: 1.6;
    margin-top: 15px;
    border-radius: 5px;
}

.text {
    font-size: 20px;
    color: #333; /* 텍스트 색상 */
    font-weight: bold;
    padding: 10px;
}

.title-text {
    font-size: 20px;
    font-weight: bold;
}

.content {
    height: 200px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
    overflow-y: auto; /* 스크롤 활성화 */
    background-color: #fafafa;
}

.attachment {
    margin-top: 30px;
}

.attachment label {
    font-size: 18px;
    font-weight: bold;
    color: #3A4D72;
}

.attachment .text {
    font-size: 16px;
    color: #333; /* 첨부파일 텍스트 색상 */
    margin-bottom: 10px;
}

img.img-thumbnail {
    width: 300px;
    height: 300px;
    display: block;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: space-between;
}

.left-buttons {
    display: flex;
    gap: 10px;
}

.comment {
    margin: 30px auto;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.comment label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #3A4D72; /* 댓글 레이블 색상 */
    margin-bottom: 10px;
}

.comment span#cmt_cnt{
    color: #3A4D72;
}

.comment .comment-input {
    width: calc(100% - 100px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.comment .comment-input:focus {
    border-color: #3A4D72;
    box-shadow: 0 0 5px rgba(58, 77, 114, 0.5);
}

.comment button {
    padding: 10px 20px;
    font-size: 16px;
    color: #EDEBDA;
    background-color: #3A4D72;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 5px;
}

.comment button:hover {
    background-color: #D3374A; /* 댓글 등록 버튼 호버 색상 */
    transform: scale(1.1);
    color: #EDEBDA;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #3A4D72;
    color: #fff;
    font-weight: bold;
}

.table td.text {
    color: #333;
}

tr td.text span {
    color: #3A4D72;
}

#del-button {
    background-color: #D3374A;
    color: #EDEBDA;
    transition: all 0.3s;
    padding: 5px 10px;
    text-align: center;
}

#del-button:hover {
    transform: scale(1.1);
}

.custom-button {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    color: #fff;
    width: 130px;
    height: 40px;
}

.button-2 {
    position: relative;
    right: 15px; /* 초기 값으로 변경 */
    bottom: 20px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

.button-3 {
    position: relative;
    right: 100px; /* 초기 값으로 변경 */
    bottom: 10px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    font-size: 18px;
}

.button-2 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.button-2 span:nth-child(1){
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2 span:nth-child(2){
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-2:hover span:nth-child(1){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button-2:hover span:nth-child(2){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}


.button-3 span {
    background: rgb(255, 151, 0);
    background: linear-gradient(0deg, rgb(251, 164, 33) 0%, rgb(234, 184, 76) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.button-3 span:nth-child(1){
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-3 span:nth-child(2){
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button-3:hover span:nth-child(1){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button-3:hover span:nth-child(2){
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
