body {
    background-color: #EDEBDA;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.form-container {
    /*max-width: 1200px;*/
    /*margin-left: 1000px;*/
    /*margin-right: 20px;*/

    /*margin-top: 200px;*/
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /*position: relative;*/
}


.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3A4D72;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}


.form-label {
    white-space: nowrap;
}
.bordered-image {
    border: 2px solid #ccc;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.image-placeholder {
    font-size: 1.2rem;
    color: #6c757d;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}