/* start navbar css */
.nav-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.login-out, .login, .my-page{
    background-color: #B3B49E;
    color: #EDEBDA;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.my-page {
    margin-top: 10px;
}

.login-out:hover, .login:hover, .my-page:hover {
    background-color: #D3374A;
}

.navbar {
    background-color: #3A4D72;
    padding: 0.5rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28237, 235, 218, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb%28255%2c255%2c102%2c100%29'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

span, button {
    color: #EDEBDA;
}

.navbar-toggler:focus,.btn-close:focus {
    box-shadow: none;
    outline: none;
}
.offcanvas-body, .offcanvas-header {
    background-color: #3A4D72;
}

.offcanvas-header {
    border-bottom: 1px solid #EDEBDA;
}

.nav-link {
    color: #EDEBDA;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
}

.nav-link:hover {
    color: #D3374A;
}

@media (min-width: 768px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #D3374A;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover:before {
        width: 100%;
        visibility: visible;
    }
}
/* end navbar css */

/* footer css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EDEBDA;
}

/*.container {*/
/*    flex: 1;*/
/*}*/

/*main {*/
/*    flex: 1;*/
/*}*/

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #3A4D72;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

footer .icon,
footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
}

footer .icon li,
footer .menu li {
    list-style: none;
}

footer .icon li a {
    font-size: 1.4em;
    color: #EDEBDA;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a {
    font-size: 0.9em;
    color: #EDEBDA;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

footer .menu li a:hover {
    color: #D3374A;
}

footer .icon li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: #EDEBDA;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 0.9em;
}

footer .wave {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background: url("/img/waves.png");
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0;
    }
}
/* footer css end */