body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.content-container a {
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.content-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.category {
    display: flex;  /* Make sure sections are flex by default */
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.box {
    margin-bottom: 50px;
    background: #3A4D72;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: #fff;
}

.category-header {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #EDEBDA;
    text-transform: uppercase;
    font-weight: bold;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

.img-box {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    transition: transform 0.3s ease-in-out;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
}

.img-box img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 20px;
    overflow: hidden;
}

.img-box:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-box:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-title {
    font-size: 1em;
    color: #333;
    text-align: center;
    flex-grow: 1;
}

@keyframes lightSpeedIn {
    from {
        transform: translateX(100%) skewX(-30deg);
        opacity: 0;
    }
    60% {
        transform: translateX(-20%) skewX(30deg);
        opacity: 1;
    }
    80% {
        transform: translateX(10%) skewX(-10deg);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.visible {
    animation: lightSpeedIn 1s forwards;
}
