* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEBDA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*height: 100vh;*/
}

a {
    text-decoration: none;
}

.container-login {
    background-color: #B3B49E;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-bottom: 70px;
}

.container-login img {
    margin: 10px 0;
}

.container-login button {
    background-color: #3A4D72;
    color: #EDEBDA;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container-login button:hover {
    background-color: #D3374A;
}

.container-login button.hidden {
    background-color: transparent;
    border-color: #EDEBDA;
}

.container-login button.hidden:hover {
    background-color: #D3374A;
    border-color: #D3374A;
}

.container-login form {
    background-color: #B3B49E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container-login input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 8px;
    width: 300px;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-login.active .sign-in {
    transform: translateX(-100%);
}

.sign-up {
    left: 100%;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-login.active .sign-up {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-img {
    margin: 20px 0;
}

.social-img a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container-login.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #3A4D72;
    height: 100%;
    color: #EDEBDA;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container-login.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container-login.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container-login.active .toggle-right {
    transform: translateX(200%);
}

.form-select {
    background-color: #eee !important;
    border: none;
    margin: 8px 0;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 10px;
    width: 300px;
    outline: none;
}

.address-container {
    display: flex;
    align-items: center;
}

.address-container input {
    margin-left: 40px;
    flex: 1;
}

.address-container button  {
    margin: 5px;
    margin-bottom: 5px;
    padding: 5px 8px; /* 버튼 크기 조정 */
    font-size: 12px; /* 필요에 따라 폰트 크기 조정 */
    border-radius: 8px;
    background-color: #3A4D72;
    color: #EDEBDA;
    border: none;
    cursor: pointer;
}