body {
    background-color: #EDEBDA;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #3A4D72;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content1{
    position: absolute;
}

#content {
    margin-left: 50px;
}

.container1 {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 150px auto;
    padding: 40px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
}

.form-group {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
}

input,
select,
textarea {
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
    color: #3A4D72;
}

.form-img {
    position: absolute;
    top: 250px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-50%);
}

.image-placeholder {
    outline: 1px solid #333;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

#previewImage {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: contents;
    align-items: center;
}

#img_txt {
    display: flex;
    justify-content: center;
    text-align: center;
}

.select-container {
    display: flex;
    gap: 10px; /* 간격 조정 */
    align-items: center;
}

.map_wrap {
    margin-top: 20px;
}

.bg_white {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.list-group-item {
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #3A4D72;
}

.form-control:focus {
    border-color: #D3374A;
    box-shadow: 0 0 0 0.2rem rgba(211, 55, 74, 0.25);
}

.form-select:focus {
    border-color: #D3374A;
    box-shadow: 0 0 0 0.2rem rgba(211, 55, 74, 0.25);
}

label {
    color: #3A4D72;
}

#socializing_title {
    width: 250px;
}

#location {
    width: 360px;
}

#fileSelect {
    background-color: #B3B49E;
    color: #EDEBDA;
    border-radius: 1rem;
    border: none;
    padding: 10px 20px;
    margin-right: 85px;
    transition: all 0.3s;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s;
}

#mapSearch {
    background-color: #B3B49E;
    color: #EDEBDA;
    border-radius: 1rem;
    border: none;
    padding: 10px 20px;
    transition: all 0.3s;
}

#prevButton, #createButton {
    background-color: #B3B49E;
    color: #EDEBDA;
    border-radius: 1rem;
    border: none;
    padding: 10px 20px;
}

#prevButton {
    margin-right: 20px;
}

#fileSelect:hover, #mapSearch:hover, #prevButton:hover, #createButton:hover {
    background-color: #D3374A;
    transform: scale(1.1);
}

.hidden{
    display: none;
}