body {
    font-family: Arial, sans-serif;
    background-color: #EDEBDA;
    color: #3A4D72;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 150px auto 190px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main {
    padding: 20px;
}

.details-header h1 {
    font-weight: bold;
    font-size: 40px;
}

.social-info{
    gap: 20px;
    color: #333;
    font-size: 20px;
}
#social-cnt{
    color: #333;
    font-size: 18px;
}
#social-price{
    color: #333;
    font-size: 18px;
}

.event-info {
    display: flex;
    background-color: #b3b49e;
    padding: 20px;
    border: 1px solid #B3B49E;
    margin-bottom: 20px;
    border-radius: 10px;
}

.event-image {
    width: 350px;
    height: 200px;
    object-fit: contain;
    background-color: #EDEBDA;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.event-details p, .event-details span {
    margin: 25px 0;
}

.event-details button {
    background-color: #3A4D72;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.event-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: 20px;
    position: relative;
}

.details-buttons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.edit-button, .delete-button, .join-button {
    background-color: #3A4D72;
    color: #EDEBDA;
    border-radius: 1rem;
    transition: all 0.3s;
}

.edit-button:hover, .delete-button:hover, .join-button:hover {
    background-color: #D3374A;
    color: #EDEBDA;
    transform: scale(1.1);
}

.description {
    background-color: #b3b49e;
    padding: 20px;
    border: 1px solid #B3B49E;
    margin-bottom: 20px;
    border-radius: 10px;
}

.description h1 {
    font-weight: bold;
    font-size: 40px;
}


.location-button1, .location-button2 {
    border-radius: 10px;
    background-color: #3A4D72;
    color: #EDEBDA;
    padding: 10px;
    display: inline-block;
    margin: 10px 0;
}

#detaildescription{
    font-size: 18px;
    color: #333;
}


.hidden{
    display: none;
}

/* 이전 버튼 */
#backbtn{
    margin-top: 20px;
    background-color: #3A4D72;
    color: #EDEBDA;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s;
}

#backbtn:hover {
    background-color: #D3374A;
    transform: scale(1.1);
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

/* 참여자 리스트 */
.participants {
    background-color: #B3B49E;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
}

.participants h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-bottom: 2px solid #EDEBDA;
    margin: 10px;
    padding: 5px;
}

.social-list span {
    color: #333;
    font-weight: 500;
    font-size: 18px;
}

.participant {
    border-radius: 4px;
    padding: 10px;
}
