body {
    background-color: #EDEBDA;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
.container1 {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 150px auto 190px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.search-bar {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;
}
.search-bar button {
    background-color: #B3B49E;
    color: #EDEBDA;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.search-bar button:hover {
    background-color: #D3374A;
    color: #EDEBDA;
    transform: scale(1.1);
}
.search-bar input {
    flex: 1;
    padding: 10px;
    border: 2px solid #B3B49E;
    border-radius: 5px;
    outline: none;
}
.category-area{
    display: flex;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #B3B49E;
}
.category-list{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0px;

    list-style-type: none;
}
.search-category{
    margin-right: 15px;
}

.detail-category-area{
    display: flex;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #B3B49E;
}

.detail-category-list{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0px;

    list-style-type: none;
}
.detial-search-category{
    margin-right: 15px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.main-content a {
    text-decoration: none;
}

.socializing-item {
    width: 373px;
    background-color: #EDEBDA;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.socializing-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#fixed-size {
    width: 328px;
    height: 150px;
}

.socializing-item p {
    margin: 10px 0 0;
}

#main-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

#detail_category {
    font-size: 20px;
    font-weight: bold;
    color: #F79DC2;
}

#address {
    font-size: 18px;
    font-weight: bold;
    color: #4075e2;
}

.create-button {
    display: block;
    width: max-content;
    margin: 20px auto 0;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s;
}

.custom-button1 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.create-button1 {
    position: relative;
    right: 20px; /* 초기 값으로 변경 */
    bottom: 20px; /* 초기 값으로 변경 */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.create-button1 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 18px;
}
.create-button1 span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.create-button1 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.create-button1:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.create-button1:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}


.hidden{
    display: none;
}

span {
    font-size: 25px;
}

#fixed-size {
    width: 328px;
    height: 150px;
    object-fit: contain;
}


