body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-venue {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px; /* 네비게이션 바 높이만큼 패딩 추가 */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.category-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.category-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 50px;
}

.category-row form {
    margin-right: 10px;
}

.category-row form:last-child {
    margin-right: 0;
}

.venue-btn {
    width: 120px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.venue-btn:active {
    top: 4px;
}

.venue-btn.blue {
    box-shadow: 0px 4px #74a3b0;
    background-color: #74a3b0;
}
.venue-btn.blue:active {box-shadow: 0 0 #74a3b0; background-color: #709CA8;}

.venue-btn.green {
    box-shadow: 0px 4px 0px #87a86f;
    background-color: #87a86f;
}
.venue-btn.green:active {box-shadow: 0 0 #87a86f; background-color: #87a86f;}

.venue-btn.red {
    box-shadow:0px 4px 0px #E04342;
    background-color: #E04342;
}
.venue-btn.red:active {box-shadow: 0 0 #ff4c4b; background-color: #ff4c4b;}

.venue-btn.purple {
    box-shadow:0px 4px 0px #AD83A8;
    background-color: #AD83A8;
}
.venue-btn.purple:active {box-shadow: 0 0 #BA8CB5; background-color: #BA8CB5;}

.venue-btn.cyan {
    box-shadow:0px 4px 0px #73B9C9;
    background-color: #73B9C9;
}
.venue-btn.cyan:active {box-shadow: 0 0 #73B9C9; background-color: #70B4C4;}

.venue-btn.yellow {
    box-shadow:0px 4px 0px #D1B757;
    background-color: #D1B757;
}
.venue-btn.yellow:active {box-shadow: 0 0 #ff4c4b; background-color: #D6BB59;}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.venue-item {
    text-decoration: none;
    color: inherit;
    width: calc(25% - 20px);
    margin-bottom: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    width: 100%; /* 카드의 폭을 일정하게 유지 */
    height: 400px; /* 카드의 높이를 고정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-text:last-child {
    margin-bottom: 0;
}
