<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/club_create.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <th:block th:replace="~{common/header :: header-head}"></th:block></head>
<script th:src="@{/js/club/create.js}"></script>
    <title>LINCO</title>
    <link rel="shortcut icon" th:href="@{/img/linco_ico.png}" type="image/png">
</head>
<body>
<header th:replace="~{common/header :: header-body}"></header>
<div class="container form-container">
    <form th:action="@{/club/create}" name="clubcreate" method="post" enctype="multipart/form-data">
<!--    <form>-->
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club-name" class="form-label">클럽 이름:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="club-name" placeholder="클럽 이름을 입력하세요" name="name" th:value="${name}">
                        <div class="btn btn-outline-dark" id="checkname">중복확인</div>
                    </div>
                    <div id="duplicateMessage"><span class="text-danger" th:if="${error_name}" th:utext="${error_name}"></span></div>
                </div>
                <div class="form-group mt-3">
                    <label for="club-category" class="form-label">카테고리:</label>
                    <select id="club-category" name="category" class="form-select" th:value="${category}">
                        <option value="운동">운동</option>
                        <option value="문화예술">문화예술</option>
                        <option value="여행">여행</option>
                        <option value="스터디">스터디</option>
                    </select>
                    <div><span class="text-danger" th:if="${error_category}" th:utext="${error_category}"></span></div>
                </div>
                <div class="form-group mt-3">
                    <label for="club-detail-category" class="form-label">상세 종목:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="club-detail-category" placeholder="상세 종목을 입력하세요" name="detail_category" th:value="${detail_category}">
                    </div>
                    <div><span class="text-danger" th:if="${error_detail_category}" th:utext="${error_detail_category}"></span></div>
                </div>
            </div>

            <div class="col-md-6 text-center form-img">
                <div class="bordered-image form-group image-placeholder" id="club-representative-picture">
                    <span id="img_txt">대표 이미지</span>
                    <img id="previewImage" style="">
                </div>
                <div class="fileBtn mt-2">
                    <button type="button" id="fileSelect" class="btn-primary custom-button button-2">
                        <span>File Select!</span><span>파일선택</span>
                    </button>
                    <input type="file" id="fileInput" name="files" style="display:none;">
                </div>
            </div>

        </div>
        <div class="form-group mt-3">
            <label for="club-intro" class="form-label">클럽 소개:</label>
            <textarea class="form-control" rows="1" id="club-intro" placeholder="클럽을 소개하세요" name="intro" th:utext="${intro}"></textarea>
            <div><span class="text-danger" th:if="${error_intro}" th:utext="${error_intro}"></span></div>
        </div>
        <div class="form-group mt-3">
            <label for="club-content" class="form-label">클럽 상세내용:</label>
            <textarea class="form-control" rows="5" id="club-content" placeholder="클럽 상세내용을 입력하세요" name="content" th:utext="${content}"></textarea>
            <div><span class="text-danger" th:if="${error_content}" th:utext="${error_content}"></span></div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <button type="button" class="btn-secondary custom-button button-3" onclick="history.back()">
                <span>BACK!</span><span>이전</span>
            </button>
            <button type="button" id="submitbtn" class="btn-primary custom-button button-3">
                <span>Club Create!</span><span>클럽생성</span>
            </button>
        </div>
    </form>
</div>
<footer th:replace="~{common/footer :: footer-body}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<th:block th:replace="~{common/footer :: footer-scripts}"></th:block>
</body>
</html>
