<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/board_write.css}">
    <link rel="stylesheet" href="/css/club_list.css">
    <title>Club 목록페이지</title>
    <th:block th:insert="/common/header :: header-head"></th:block>
</head>
<body>
<th:block th:insert="/common/header :: header-body"></th:block>

<div class="container">
    <div class="search-bar">
        <input type="text" placeholder="상세종목 검색">
        <button>검색</button>
    </div>
    <div class="main-content">
        <div class="club-item">
            <img src="club1.png" alt="Club Image">
            <p>Club 이름</p>
            <p>상세종목</p>
        </div>
        <div class="club-item">
            <img src="club2.png" alt="Club Image">
            <p>Club 이름</p>
            <p>상세종목</p>
        </div>
        <div class="club-item">
            <img src="club3.png" alt="Club Image">
            <p>Club 이름</p>
            <p>상세종목</p>
        </div>
        <div class="club-item">
            <img src="club4.png" alt="Club Image">
            <p>Club 이름</p>
            <p>상세종목</p>
        </div>
    </div>
    <div class="pagination">
        <a href="#">＜</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">＞</a>
    </div>
</div>
</body>
    <footer th:replace="~{common/footer :: footer-body}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <th:block th:replace="~{common/footer :: footer-scripts}"></th:block>
</html>
