<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/club_list.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <th:block th:replace="~{common/header :: header-head}"></th:block>
    <script th:src="@{/js/club/list.js}"></script>
    <script src="https://kit.fontawesome.com/51772bd9bd.js"></script>

    <title>LINCO</title>
    <link rel="shortcut icon" th:href="@{/img/logo1.png}" type="image/png">
</head>
<body>
<header th:replace="~{common/header :: header-body}"></header>

<div class="list-container">
    <form id="club-detail-category" action="/club/list" method="get">
        <div class="club-category-area">
            <ul class="club-category-list">
                <li class="club-category-search">
                    <label class="search-club-category">
                        <button class="custom-button button-1" type="submit" name="clubCategory" th:value="운동"><span>Search!</span><span>운동</span></button>
                    </label>
                </li>
                <li>
                    <label class="search-club-category">
                        <button class="custom-button button-2" type="submit" name="clubCategory" th:value="문화예술"><span>Search!</span><span>문화예술</span></button>
                    </label>
                </li>
                <li>
                    <label class="search-club-category">
                        <button class="custom-button button-3" type="submit" name="clubCategory" th:value="여행"><span>Search!</span><span>여행</span></button>
                    </label>
                </li>
                <li>
                    <label class="search-club-category">
                        <button class="custom-button button-4" type="submit" name="clubCategory" th:value="스터디"><span>Search!</span><span>스터디</span></button>
                    </label>
                </li>
            </ul>
        </div>
    </form>
    <div class="search-bar">
        <form action="/club/list" method="get">
            <input type="text" th:name="detailCategory" placeholder="상세종목 검색" id="search" th:value="${detailCategory}">
            <button type="submit" id="btn">검색</button>
        </form>
    </div>
    <hr>

    <div class="main-content">
        <div class="club-item" th:each="clubs : ${clubs}">
            <a  th:href="@{'/club/detail/' + ${clubs.id}}">
                <img th:src="@{'/upload/' + ${clubs.representative_picture}}" alt="Club Image" class="club-img">
                <p th:text="${clubs.name}" class="club-name">Club 이름</p>
                <p th:text="${clubs.category}" class="club-category">카테고리</p>
                <p th:text="${clubs.detail_category}" class="club-detail-category">상세종목</p>
            </a>
        </div>
    </div>

    <div class="pagination-container2">
        <div class="pagination-block2">
            <th:block th:insert="~{club/clubPagination :: pagination}"></th:block>
        </div>

        <div class="button-container">
            <a th:href="@{/club/create}">
                <button class="custom-button button-2"><span>Let's Go!</span><span>클럽 생성</span></button>
            </a>
        </div>
    </div>

</div>
</body>
<footer th:replace="~{common/footer :: footer-body}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<th:block th:replace="~{common/footer :: footer-scripts}"></th:block>
</html>
