<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/club_create.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <th:block th:replace="~{common/header :: header-head}"></th:block>
    <script th:src="@{/js/club/update.js}"></script>
    <title>LINCO</title>
    <link rel="shortcut icon" th:href="@{/img/logo1.png}" type="image/png">
</head>
<body>
<header th:replace="~{common/header :: header-body}"></header>
<div class="container form-container">
    <form th:action="@{/club/update}" method="post" enctype="multipart/form-data">
<!--    <form>-->
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club-name" class="form-label">클럽 이름:</label>
                    <div class="input-group">
                        <span class="form-control" id="club-name" th:text="${club.getName()}"></span>
                        <input type="text" name="name" th:value="${club.getName()}" style="display: none"></input>
                    </div>
                    <input type="text" name="id" th:value="${club.getId()}" style="display: none"></input>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">카테고리:</label>
                    <span class="form-control" id="" th:text="${club.getCategory()}" ></span>
                    <input type="text" name="category" th:value="${club.getCategory()}" style="display: none"></input>
                </div>
                <div class="form-group mt-3">
                    <label for="club-detail-category" class="form-label">상세 종목:</label>
                    <div class="input-group">
                        <span class="form-control" id="club-detail-category" th:text="${club.getDetail_category()}"></span>
                        <input type="text" name="detail_category" th:value="${club.getDetail_category()}" style="display: none"></input>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <label for="club-representative-picture" class="form-label"></label>
                <div class="bordered-image" id="club-representative-picture">
                    <img th:src="@{'/upload/'+${club.getRepresentative_picture()}}" id="previewImage" style="display:block; width: 660px; height: 200px;">
                </div>
                <button type="button" id="fileSelect" class="btn-primary btn-file custom-button button-2">
                    <span>File Select!</span><span>파일선택</span>
                </button>
                <input type="file" id="fileInput" class="d-none" name="files">
                <input type="text" id="filename" name="representative_picture" th:value="${club.getRepresentative_picture()}" style="display: none">
            </div>
        <div class="form-group mt-3">
            <label for="club-intro" class="form-label">클럽 소개:</label>
            <textarea class="form-control" rows="1" id="club-intro" th:utext="${club.getIntro()}" th:value="${club.getIntro()}" name="intro" ></textarea>
            <div><span class="text-danger"></span></div>
            <div><span class="text-danger" th:if="${error_intro}" th:utext="${error_intro}"></span></div>
        </div>
        <div class="form-group mt-3">
            <label for="club-content" class="form-label">클럽 상세내용:</label>
            <textarea class="form-control" rows="5" id="club-content" th:utext="${club.getContent()}" th:value="${club.getContent()}" name="content"></textarea>
            <div><span class="text-danger"></span></div>
            <div><span class="text-danger" th:if="${error_content}" th:utext="${error_content}"></span></div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <button type="button" class="btn-secondary custom-button button-3" onclick="history.back()">
                <span>BACK!</span><span>이전</span>
            </button>
            <button type="submit" class="btn-primary custom-button button-3">
                <span>Edit Finish!</span><span>수정완료</span>
            </button>
        </div>
        </div>
    </form>
</div>
</body>
<footer th:replace="~{common/footer :: footer-body}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<th:block th:replace="~{common/footer :: footer-scripts}"></th:block>
</html>
